BIG_BROTHER_DEV_MODE=true
BIG_BROTHER_ADMIN_TOKEN=change-this-local-admin-token
BIG_BROTHER_API_PORT=8080
BIG_BROTHER_TRITON_HTTP_PORT=8000
BIG_BROTHER_TRITON_GRPC_PORT=8001
BIG_BROTHER_TRITON_METRICS_PORT=8002
